Options -Indexes
RewriteEngine On

# 1. Jika file atau folder asli ada, biarkan akses langsung (agar CSS/JS/Gambar bisa dibuka)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 2. Jika user akses /history-deposit, arahkan ke history-deposit.php
RewriteRule ^([^\.]+)$ $1.php [NC,L]
